.footer {
  border-top: 0px;
}

#logout_navbar {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color:white
}

.card-artist {
  font-size: 180%;
}

.song-card-text {
  font-size: 130%;
}

.comment{
  background-color: #1f2251;
  outline: 1px solid white;
  padding: 1%;
}

